---
import Layout from "../layouts/Layout.astro";
import GithubBookmarks from "../components/githubBookmarks.astro";
---

<Layout title="GitHub Issues 书签">
  <div class="content">
    <h2>GitHub Issues 书签</h2>
    <GithubBookmarks />
  </div>
</Layout>

<style>
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}
</style>
