---
import Layout from "../layouts/Layout.astro";
import Card from "../components/card.astro";
import CommandLine from "../components/commandLine.astro";
import Help from "../components/help.astro";
---

<Layout title="Welcome to your startpage.">
  <div class="content">
    <Card />
    <CommandLine />
    <Help />
  </div>
</Layout>

<style>
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  @media only screen and (max-width: 1200px) {
    .content {
      margin-top: 2em;
      gap: 30px;
    }
  }
</style>