---
import BookmarksList from './BookmarksList.jsx';
---

<section class="container">
  <BookmarksList client:load />
</section>

<style>
  .container {
    width: 100%;
    background-color: #f2f4f7;
  }
</style>
